-- Add reported_by field to locations table
ALTER TABLE locations ADD COLUMN reported_by UUID REFERENCES profiles(id) ON DELETE SET NULL;

-- Update the RLS policy to use the new field
DROP POLICY IF EXISTS \
Users
can
create
locations\ ON locations;
CREATE POLICY \Users
can
create
locations\ ON locations
FOR INSERT 
TO authenticated
WITH CHECK (auth.uid() = reported_by);
